<div class="contenedor">
    <div class="contenedor-col">
        <h2 class="color-titulo-izquierdo">Consultá el tipo de cambio para tus tokens</h2>
        <div class="rectangulo-whatsapp">
            <img class="img-wpp" src="../assets/img/whatsapp.png" alt="">
            <p>> > ></p>
        </div>
    </div>
</div>